<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>{{ title }}</title>
</head>
<body>
    <header class="site-header">
        <nav id="navigation">
            <a href="{% url 'home' %}">Crowdfunder</a>
            <a href="{% url 'create_project' %}">Start project</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" role="button">Sign out</a>
            {% else %}
            <a href="{% url 'login' %}" role="button">Sign in</a>
            <a href="{% url 'signup' %}" role="button">New User</a>
            {% endif %}
        </nav>
        <div class="category-nav">
            <ul id="category">
                <li>{% block category-comics %}<a href="{% url 'category' cat='comics' %}">Comics</a>{% endblock %}</li>
                <li>{% block category-tech %}<a href="{% url 'category' cat='tech' %}">Tech</a>{% endblock %}</li>
                <li>{% block category-food %}<a href="{% url 'category' cat='food' %}">Food</a>{% endblock %}</li>
                <li>{% block category-games %}<a href="{% url 'category' cat='games' %}">Games</a>{% endblock %}</li>
                <li>{% block category-music %}<a href="{% url 'category' cat='music' %}">Music</a>{% endblock %}</li>
            </ul>
    </div>
    </header>
    <main>
        {% block content %}

        {% endblock %}
        </div>
    </main>
    <footer> Copyright Bitmaker Labs </footer>
</body>
</html>