<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="site-header">
        <nav>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" role="button">Sign out</a>
                {% else %}
                <a href="{% url 'login' %}" role="button">Sign in</a>
                <a href="{% url 'signup' %}" role="button">New User</a>
                {% endif %}

        </nav>



        {% block content %} {% endblock %}    
</body>
</html>