{% extends 'base.html' %}
{% block content %}
<main class="home-main">
    <h2>{{ category }} projects</h2>
    {% for project in projects %}
        <div class="project-description">
        <h2 class="project-title">{{ project.title }}</h2>
        <h3 class="project-owner">By: {{ project.owner }}</h3>
        <h3 class="project-description">{{ project.description }}</h3>
        <div class="project-wrapper">
            <img src="{{ project.picture }}" alt="{{ project.title }}" />
        </div>
    {% endfor %}
</main>
{% endblock %}